body{
    font-family: Arial, sans-serif;
    background:#e8ffe8;
    text-align:center;
}

header{
    background:#2e8b57;
    color:white;
    padding:30px;
}

main{
    padding:30px;
}

h2{
    margin-bottom:15px;
}

p{
    margin:10px 0;
}

button{
    background:#2e8b57;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#246b44;
}

footer{
    margin-top:30px;
    background:#2e8b57;
    color:white;
    padding:15px;
}