body{
    font-family:'Segoe UI', sans-serif;
    background:#f5fff6;
    color:#333;
}

/* Header */

header{
    background:linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
    ),
    url("https://images.unsplash.com/photo-1500937386664-56d1dfef3854?w=1200");
    background-size:cover;
    background-position:center;
    height:100vh;
    color:white;
}

nav{
    padding:25px 50px;
}

.hero{
    height:80%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h2{
    font-size:3rem;
    max-width:800px;
}

.hero p{
    margin-top:20px;
    font-size:1.2rem;
    max-width:700px;
}

button{
    margin-top:25px;
    padding:14px 28px;
    border:none;
    border-radius:30px;
    background:#4CAF50;
    color:white;
    font-size:1rem;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#2e7d32;
    transform:scale(1.05);
}

/* Cards */

.cards{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    padding:70px 20px;
}

.card{
    background:white;
    width:300px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h3{
    margin-bottom:15px;
    color:#2e7d32;
}

/* Info */

.info{
    text-align:center;
    padding:60px 20px;
    background:#e8f5e9;
}

.info h2{
    margin-bottom:20px;
}

/* Footer */

footer{
    background:#1b5e20;
    color:white;
    text-align:center;
    padding:20px;
}